# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/

# Android/Keystore
android/key.properties
*.jks

# iOS
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
